<div class= "container mt-5 pt-5">
  <div *ngIf= "!isWatchListEmpty" class="watchlist-heading pt-lg-4 pt-2">My WatchList</div>
  <div *ngIf= "isWatchListEmpty" style="text-align:center"class="watchlist-heading pt-lg-4 pt-2">No items found in Watchlist</div>

  <div class= "container mx-0 px-5 px-lg-0">
    <div class="row mx-auto">
      <div *ngFor= "let item of watchlistLRU" class="col-lg-2 px-2 py-5">

        <div *ngIf ="isMobile" class="watchlist-item mobile-item" (click)= "getDetails(item.media_type, item.id)">
          <a class='btn'>
            <img class="img-fluid poster-img" src="{{item.image_path}}">
          </a>
          <div class="carousel-caption caption-text">
            <p>{{item.title}}</p>
          </div>
        </div>

        <div *ngIf ="!isMobile" class="watchlist-item desktop-item" (click)= "getDetails(item.media_type, item.id)">
          <a class='btn'>
            <img class="img-fluid poster-img" src="{{item.image_path}}">
          </a>
          <div class="carousel-caption caption-text">
            <p>{{item.title}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
