.watchlist-heading {
  font-size: 40px;
}
.watchlist-item {
  z-index: 1000;
  position: relative;
}
.desktop-item:hover:before {
  height: 90%;
}
.watchlist-item:hover {
  transform: scale(1.09);
}
.desktop-item:hover .caption-text {
  opacity: 1;
}
.desktop-item > .caption-text {
  opacity:0;
}
.carousel-caption {
  bottom: -18px !important;
  font-size: 15px;
}
.mobile-item:before {
  content: '';
  display: block;
  position: absolute;
  height: 90%;
  width: 92%;
  left: 4%;
  bottom: 1%;
  background: linear-gradient(transparent, rgba(0,0,0,0.3) 47%, rgba(0,0,0,1) 81%);
}
.desktop-item:before {
  content: '';
  display: block;
  position: absolute;
  height: 0%;
  width: 86%;
  left: 7%;
  bottom: 3%;
  background: linear-gradient(transparent, rgba(0,0,0,0.3) 47%, rgba(0,0,0,1) 81%);
}

