
<div class="main-card-carousel m-4">
  <ngb-carousel class="carousel-main" *ngIf= "!isMobile" #carousel [interval]= "0">
    <ng-template ngbSlide *ngFor= "let group of groupMedia; index as i">
      <div class="mb-2 row pb-5">
        <div ngbSlide *ngFor= "let img of group" class="col px-1" style="cursor: pointer">

          <div *ngIf ="!isMobile" class="card-item desktop-item" (click)= "getDetails(img.media_type, img.id)" >
            <a class='btn'>
              <img class="img-fluid poster-img" src="{{img.image_path}}">
            </a>
            <div class="carousel-caption caption-text">
              <p>{{img.title}}</p>
            </div>
          </div>

        </div>
      </div>
    </ng-template>
  </ngb-carousel>

  <ngb-carousel class="carousel-mobile" *ngIf= "isMobile" #carousel [interval]= "0" [showNavigationIndicators]= "false">
    <ng-template ngbSlide *ngFor= "let img of mediaList; index as i" >

        <div *ngIf ="isMobile" class="row card-item mobile-item m-3 p-1" (click)= "getDetails(img.media_type, img.id)" style="cursor: pointer">
          <a class='btn'>
            <img class="img-fluid poster-img" src="{{img.image_path}}">
          </a>
          <div class="carousel-caption caption-text">
            <p>{{img.title}}</p>
          </div>
        </div>

    </ng-template>
  </ngb-carousel>
</div>


