
<ng-template #searchResultTemplate let-r="result" let-t="term">
  <img [src]="'https://image.tmdb.org/t/p/w500' + r['backdrop_path']" class="mr-1" style="width: 70px">
  <ngb-highlight [result]="r.title" [term]="t"></ngb-highlight>
</ng-template>

<form class="form-inline">
  <input  id="search-input"
          class="form-control"
          type="text"
          placeholder="Search"
          aria-label="Search"
          (selectItem)= "selectedItem($event)"
          [ngbTypeahead]= "search"
          [resultTemplate]= "searchResultTemplate"
          [inputFormatter]= "inputFormatBandListValue"
          #instance="ngbTypeahead"/>
</form>

