
<div *ngIf= "!isLoading"  class= "details-container mx-lg-5 px-lg-5 mx-4 px-3">
  <div class= "row mt-5 pt-5 ml-lg-5 mr-lg-0 pl-lg-5 pr-lg-0">
    <div class = "embed-responsive embed-responsive-16by9 col-sm-8">
      <youtube-player class = "embed-responsi-item mx-lg-3"
        videoId= "{{mediaResults.media_video_details.key}}">
      </youtube-player>
    </div>
    <div class = "col-sm-4 px-lg-4 px-0 mt-3 mt-lg-0">
      <div id="media_title">{{title}}</div>
      <div id="media_tagline">{{mediaResults.media_details.tagline}}</div>
      <div id="year-rating" class= "mt-4">
        {{releaseAirYear}} |   &#9733; {{mediaResults.media_details.vote_average}} |  {{duration}}
      </div>
      <div *ngIf= "genres.length!=0 && genres!= null" class="mt-3"> <span style="font-size:14px">Genres : </span><span style="color:darkgrey; font-size:16px">{{genres}}</span></div>
      <div *ngIf= "languages.length!=0 && languages!= null" class= "mb-3"> <span style="font-size:14px">Spoken Languages : </span><span style="color:darkgrey; font-size:16px">{{languages}}</span></div>
      <div><button type="button" class="btn btn-primary" (click) = "updateWatchlist()">{{buttonName}}</button></div>

      <ngb-alert #watchlistAlert type="success" *ngIf="addedFlag" (closed)="addedFlag = false" class="mt-3">
        Added to watchlist.
      </ngb-alert>
      <ngb-alert #watchlistAlert type="danger" *ngIf="removedFlag" (closed)="removedFlag = false" class="mt-3">
        Removed from watchlist.
      </ngb-alert>

    </div>
  </div>

  <div *ngIf= "mediaResults.media_details.overview.length!=0 && mediaResults.media_details.overview!=null" class= "row mt-3 mx-lg-2">
    <div class = "col-lg mx-lg-5 px-lg-5 mx-0 px-0">
      <div class= "description-share-title">Description</div>
      <div id="description" class= "mt-2">{{mediaResults.media_details.overview}}</div>
    </div>
  </div>

  <div class= "row mt-4 mx-lg-2">
    <div class = "col-lg mx-lg-5 px-lg-5 mx-0 px-0">
      <div class="description-share-title mb-2">Share</div>
      <div>
        <a class="twitter-share-button" href="{{twitterURL}}" target="_blank" rel="noopener noreferrer" >
          <i class="fab fa-twitter fa-2x fa-fw" style="color: #1DA1F2"></i>
        </a>
        <a class="fb-share-button" href="{{facebookURL}}" target="_blank" rel="noopener noreferrer" >
          <span><i class="fab fa-facebook-square fa-2x fa-fw" style="color: #0027FC"></i></span>
        </a>
      </div>
    </div>
  </div>


  <!--Cast and Crew-->
  <div class = "row mt-5 px-lg-3" *ngIf = "castList.length!=0 && castList.length!=null">
    <div class = "col-lg-11 mx-lg-5 px-lg-5 mx-0 px-0">
      <div class="cast-review-title mb-2">Full Cast and Crew</div>
      <div>
        <div class="pb-2 d-flex flex-row flex-nowrap overflow-auto" >
            <div class="card card-body p-0 cast-card border-0 mr-lg-4 mr-5" *ngFor= "let cast of castList" (click)= "open(content, cast.id)" style= "cursor:pointer">
                <div><img src= {{cast.profile_path}} class="btn cast-img p-0 border-0" ></div>
                <div class="cast-details my-auto">
                  <div class="pt-2">{{cast.name}}</div>
                  <div>AS</div>
                  <div style="font-weight: 300;">{{cast.character}}</div>
                  <br>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!--Reviews -->
  <div class = "row mt-5 px-lg-3" *ngIf= "numberOfReviews != 0">
    <div class = "col-lg mx-lg-5 px-lg-5 mx-0 px-0">
      <div class="cast-review-title mb-2">Reviews <span class="ml-3" style="color:darkgrey">{{numberOfReviews}}</span></div>
      <div >
        <div class="card card-body review-card mb-4" *ngFor= "let review of reviewList">
          <div class="row">
            <div class= "col-lg-2">
              <img class="avatar-img rounded-circle"src= {{review.avatar_path}}>
            </div>

            <div class= "col">
              <div class="created-by">A review created by {{review.author}}
                <div *ngIf ="isMobile">
                  <span class="rounded-pill rating-icon-div mx-auto pb-1">
                    <span class="rating-icon my-auto"><span class="symbol mb-3 p-2">&#9733;</span>
                      <span class="rating pr-2">{{review.rating}}</span>
                    </span>
                  </span>
                </div>
                <span *ngIf ="!isMobile" class="rounded-pill rating-icon-div mx-auto pb-1">
                  <span class="rating-icon my-auto"><span class="symbol mb-3 p-2">&#9733;</span>
                    <span class="rating pr-2">{{review.rating}}</span>
                  </span>
                </span>
              </div>
              <div class="written-by mt-4">Written by {{review.author}} on {{review.created_at}}</div>
              <div class="line-clamp mt-3 mb-3">{{review.content}}</div>
              <a class="read-rest-link" href={{review.url}} target="_blank" rel="noopener noreferrer"><u>Read the rest</u></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Recommended Media-->
  <div class= "row mx-lg-1 my-5" *ngIf = "recommendedMedia.length!=0 && recommendedMedia != null">
    <div class= "col mx-lg-5 my-2 px-lg-4">
      <div class= "mx-lg-5 px-lg-2 category-title">Recommended {{typeMedia}}</div>
      <div class="details-carousel mx-lg-5 px-lg-2"><app-carousel-cards  [mediaList]= "recommendedMedia"></app-carousel-cards></div>
    </div>
  </div>

  <!--Similar Media-->
  <div class= "row mx-lg-1 my-5" *ngIf = "similarMedia.length!=0 && similarMedia != null">
    <div class= "col mx-lg-5 my-2 px-lg-4">
      <div class= "mx-lg-5 px-lg-2 category-title">Similar {{typeMedia}}</div>
      <div class="details-carousel mx-lg-5 px-lg-2"><app-carousel-cards  [mediaList]= "similarMedia"></app-carousel-cards></div>
    </div>
  </div>

</div>


<!-- Modal-->
<ng-template  #content  let-modal>
  <ng-container *ngIf= "!isLoadingModal">
  <div class="modal-header">
    <div class="modal-title modal-headings" id="modal-basic-title">{{cast_result.name}}</div>
    <button type="button" class="close" aria-label="Close" (click)= "modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <div class="row">
       <div class="col-lg-3 col-12">
          <img class="img-fluid" src="https://image.tmdb.org/t/p/w500/{{cast_result.profile_path}}">
       </div>
       <div class="col">
       <div *ngIf= "cast_result.birthday != null && cast_result.birthday != ''">Birth: {{cast_result.birthday}}</div>
       <div *ngIf= "cast_result.place_of_birth != null && cast_result.place_of_birth != ''">Birth Place: {{cast_result.place_of_birth}}</div>
       <div *ngIf= "cast_result.gender != null && cast_result.gender != ''">Gender: {{cast_result.gender}}</div>
       <div *ngIf= "cast_result.homepage != null && cast_result.homepage != ''">Website: <a href="{{cast_result.homepage}}" target="_blank">{{cast_result.homepage}}</a></div>
       <div *ngIf= "cast_result.known_for_department != null && cast_result.known_for_department != ''">Known For: {{cast_result.known_for_department}}</div>
       <div *ngIf= "cast_result.also_known_as != null && cast_result.also_known_as != ''">Also Known As: {{cast_result.also_known_as}}</div>
       <div class="mt-3">
          <a *ngIf= "cast_imdb && isMobile" href= "https://imdb.com/name/{{cast_result.imdb_id }}" target="_blank" rel="noopener" placement="right" triggers="mouseenter:mouseleave" ngbPopover= "Visit IMDB" style="color: #f0bd06"><i class="icon fa-fw fab fa-imdb fa-2x"></i></a>
          <a *ngIf= "cast_imdb && !isMobile" href= "https://imdb.com/name/{{cast_result.imdb_id }}" target="_blank" rel="noopener" placement="top" triggers="mouseenter:mouseleave" ngbPopover= "Visit IMDB" style="color: #f0bd06"><i class="icon fa-fw fab fa-imdb fa-2x"></i></a>
          <a *ngIf= "cast_instagram" href= "https://instagram.com/{{cast_result.instagram_id }}" target="_blank" rel="noopener" placement="top" triggers="mouseenter:mouseleave" ngbPopover= "Visit Instagram" style= "color: #ac4699"><i class="icon fa-fw fab fa-instagram fa-2x"></i></a>
          <a *ngIf= "cast_facebook" href=  "https://facebook.com/{{cast_result.facebook_id}}" target="_blank" rel="noopener" placement="top" triggers="mouseenter:mouseleave" ngbPopover= "Visit Facebook" style="color:#0027FC"><i class="icon fa-fw fab fa-facebook-square fa-2x"></i></a>
          <a *ngIf= "cast_twitter"  href= "https://twitter.com/{{cast_result.twitter_id}}" target="_blank" rel="noopener" placement="top" triggers="mouseenter:mouseleave" ngbPopover= "Visit Twitter" style="color:#1DA1F2"><i class="icon fa-fw fab fa-twitter fa-2x"></i></a>
      </div>
       </div>
   </div>
   <div class="row" *ngIf="cast_result.biography != null && cast_result.biography.length !=0 ">
      <div class="col">
          <div class="modal-headings">Biography</div>
          <div>{{cast_result.biography}}</div>
      </div>
  </div>
  </div>
</ng-container>
</ng-template>
