<nav class="navbar fixed-top navbar-expand-lg navbar-dark justify-content-between">
    <a class="navbar-brand" [routerLink]="'/'">USC Films</a>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]= "isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li [routerLinkActiveOptions]= "{exact: true}" routerLinkActive= "active current" class="nav-item">
          <a class="nav-link" [routerLink]="'/'" (click)= "isMenuCollapsed = true">Home</a>
        </li>

        <li routerLinkActive ="active current" class="nav-item">
          <a class="nav-link" [routerLink]="'/mylist'" (click)= "isMenuCollapsed = true">My List</a>
        </li>
        </ul>

        <app-search (onSearching)= "setMenuCollapsedNav(true)"></app-search>

    </div>
  </nav>
