body{
    background-color: black;
}
#heading {
    height: 40px;
    background-image: linear-gradient(to right, rgba(167,0,18,0) 70%, rgba(167,0,18,1));
}
#logo {
    color : #A70012;
    font-family: 'Open Sans', sans-serif;
}
.flex-container {
    display: flex;
    align-items: stretch;
    margin-top: 10px;
}
.flex-container > div {
    color: white;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
#movie-carousel { position: relative;}
#tv-show-carousel { position: relative;}
.caption-text {
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color:rgba(0,0,0,0.5);
    height: 100px;
    font-family: 'Raleway', sans-serif;
}
.carousel-titles {
    font-family: 'Raleway', sans-serif;
}

/* Fading Animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.side-tabs {
    color: #A70012;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    
}
#tab-wrapper{
    border-right: 1px solid white;
}
#search-box{
    height: 200px;
    background-image:  linear-gradient(to top, rgba(167, 0, 18, 0.15), rgb(167, 0, 18));
}
.required{
    color: red;
}
#search-box {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.card {
    display: grid;
    grid-template-columns: 20% 80% auto;
    border-left: 7px solid #A70012;
}
.card-item {
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
}
.card-content {
    height: 30px;
}

