body{
    background-color: black;
}
#heading {
    height: 40px;
    background-image: linear-gradient(to right, rgba(165, 36, 32,0) 70%, rgba(165, 36, 32,1));
}
#logo {
    color : #A52420;
    font-family: 'Lato', sans-serif;
}
.grid-container {
    display: grid;
    align-items: stretch;
    margin-top: 10px;
    grid-template-columns: 12% 88%;
    margin-left: 120px;
}
.grid-container > div {
    color: white;
    margin: 10px;
    text-align: center;
    font-size: 30px;
}
#footer {
    background-color: #410807;
    text-align: right;
    font-size: 20px;
}
#movie-carousel { position: relative;}
#tv-show-carousel { position: relative;}
.caption-text {
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    height: 70px;
    font-family: 'Raleway', sans-serif;
    padding-top: 35px;
}
.carousel-titles {
    font-family: 'Raleway', sans-serif;
}

/* Fading Animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.side-tabs {
    color: #A52420;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}
.side-tabs:hover{
    color: #A52420;
}
#tab-wrapper{
    border-right: 2px solid #7B7A7C;
    grid-row: 1 / span 2;
}
#search-box{
    height: 200px;
    background-image:  linear-gradient(to top, rgba(165, 36, 32, 0.15), rgb(165, 36, 32));
}
.required{
    color: red;
}
#search-box {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.card {
    display: grid;
    grid-template-columns: 30% 70% auto;
    border-left: 7px solid #A52420;
}
.card-item {
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
}
.card-content {
    height: 30px;
}
.card-overview {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }
  
.modal-content {
    background-color: #C2C2C2;
    margin: auto;
    border: 1px solid #888;
    width: 70%;
    padding: 20px;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    cursor: pointer;
}

.cast-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
.actor-card {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.actor-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
}
.character-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
}


.review-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
